@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

nav .navbar-collapse.collapse{
    overflow: hidden;
}

@media (max-width:991px){
    nav .navbar-collapse.collapse.active{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

nav .navbar-collapse{
    transition: 2s all ease-in-out;
}

#myForm{
    max-width: 650px;
}